div {
  padding-top: 100px;
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 550px;

}

body {
  background-color: rgb(70,67,56);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

img {
  border-radius: 50%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(70,67,56);
}